/* SEARCH */
/*
- SEARCH
*/

// SEARCH

.search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 20vh; 
  //.search__input
  &__input {
  }
  //.search__button 
  &__button {
  }
}
